@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

input,button,h2,p{
  font-family: 'Poppins', sans-serif;
}
h2{
  color: #FFF;
}


html, body {
    height: 100%;
    background-image: url('background.jpg');
   
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  #chat {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  input {
    width: 600px;
    border: 1px solid #ddd;
    height: 50px;
    padding: 0 20px;
    font-size: 14px;
    border-radius: 8px;
  }
  
  button {
    width: 600px;
    height: 50px;
    font-size: 14px;
    background: #04558A;
    text-align: center;
    line-height: 50px;
    font-weight: bold;
    color: #FFF;
    margin-top: 10px;
  }
  
  .messages {
    width: 600px;
    height: 400px;
    margin: 20px 0;
    border: 1px solid #ddd;
    padding: 20px;
    overflow:auto;
    background-color: white;
    font-family: 'Poppins', sans-serif;
  }